*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(245, 248, 255);
}

/* fonts */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}







/* Nav */
nav{
  max-width: 1140px;
  margin: 0 auto;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

nav ul{
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #8987A1;
}


/* Banner */

.banner{
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  /* position: relative; */
}

.banner-detail{
  max-width: 570px;
  align-self: flex-end;
}

.banner-detail h2{
   color: #E95A08;
   font-weight: bold;
   font-size: 4rem;
}
.banner-detail p{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.38rem;
  text-align: justify;
}

/* Our Flowers */

.our-flowers{
  
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.flower-head{
  text-align: center;
}
.flower-head h3{
  font-weight: bold;
  font-size: 3.125rem;
  color: black;
}
.flower-head p{
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/* cards */
.card-container{
  /* border: 1px solid orange; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 20px;
  row-gap: 30px;
}

.card{
  /* border: 1px solid orange; */
  max-width: 270px;
  text-align: center;
}
.card h5{
  text-align: center;
  line-height: 250%;
}

.card button{
  border: none;
  background-color: #E95A08;
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

/* Trusted */
.trusted-seller{
  max-width: 1140px;
  /* border: 2px solid orange; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
  position: relative;
}

.trusted-detail{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-left: 60px;
  gap: 20px;
  margin-top: -38px;
}
.trust-logo{
  position: absolute;
  max-width: 286px;
  top: -150px;
  left: 370px;
}

.trusted-detail h2{
  font-weight: bold;
  font-size: 3rem;
}
.trusted-detail ul{
  /* list-style: none; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.trusted-detail ul li{
 font-size: 22px;
 color: rgba(0, 0, 0, 0.5);
}













/* responsive */

@media screen and (max-width:576px) {
  /* nav */
  nav{
    max-width: 360px;
    margin: 0 auto;
    margin-top: 10px;
  }

  nav ul li:nth-child(-n+3){
    display: none;
  }
  nav ul li:nth-child(4)
  {display: list-item;}
  .logo{
    max-width: 63px;
    width: 100%;
  }

  .trust-logo{
    display: none;
  }

  /* banner */
  .banner{
    max-width: 570px;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-img{
    width: 100%;
  }
  .banner-detail{
    max-width: 360px;
    margin: 0 auto;
  }
  .banner-detail h2{
    font-size: 1.5rem;
  }
  .banner-detail p{
    font-size: 14px;
  }

  /* Our Flowers */
  .our-flowers{
    max-width: 393px;
  }
  .card{
    /* border: 2px solid orange; */
    max-width: 170px;
  }
    .card img{
      max-width: 100%;
    }
  .card-container{
    grid-template-columns: repeat(2,5fr);
  }
  .flower-head h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .flower-head p{
    font-size: 14px;
  }

  /* Trusted */
  .trusted-seller{
    flex-direction: column;
    margin: 0;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 361px;
  }
  .trusted-detail h2{
    font-size: 24px;
  }
  .trusted-detail p{
    font-size: 14px;
  }
  .trusted-detail{
    max-width: 361px;
    max-height: 234px;
    margin-top: 20px;
    margin-left: 0;
    margin-left: 15px;
  }

  .main-img{
    max-width: 390px;
    /* width: 100%; */
  }
}